includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/
    level: 5
    treatPhpDocTypesAsCertain: false
    excludePaths:
        - app/Http/Middleware/HandleInertiaRequests.php
    ignoreErrors:
        - '#Access to an undefined property .*(User|Role)::.*pivot#'
        - '#Parameter.*callback of method.*map.*expects callable.*Closure.*given#'
